<!--Procuts page. This page can only be accessed through typing /products when on the home page
    It displays all products the website has to offer . This page is made of partials.
-->
<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>
    
<body>
    
    <div id = "main">

        <%- include('partials/navbar.ejs') %>
        <%- include('partials/teascontent.ejs') %>
        <%- include('partials/warescontent.ejs') %>
        
        <script src = "js/filter.js"></script>
    </div>
</body>
<%- include('partials/footer.ejs') %>
</html>